<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBConnexion"
         connectionString="Server=localhost;Port=6033;User ID=root;Password=root;Database=db_quizapp;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>